# This file is part of os-x-backup. It is subject to the license terms in the COPYRIGHT file found in the top-level directory of this distribution and at https://raw.githubusercontent.com/raphaelcohn/os-x-backup/master/COPYRIGHT. No part of os-x-backup, including this file, may be copied, modified, propagated, or distributed except according to the terms contained in the COPYRIGHT file.
# Copyright © 2021 The developers of os-x-backup. See the COPYRIGHT file in the top-level directory of this distribution and at https://raw.githubusercontent.com/raphaelcohn/os-x-backup/master/COPYRIGHT.


Host remote
	HostName zh1572.rsync.net
	Port 22
	User zh1572
	RequestTTY no
	ConnectionAttempts 5
	ConnectTimeout 15
	ServerAliveCountMax 3
	ServerAliveInterval 0
	TCPKeepAlive yes
	# Use DNS SSHFP records
	#VerifyHostKeyDNS yes
	#CertificateFile ~/.config/os-x-backup/certificate.pem
	#IdentityFile ~/.config/os-x-backup/id_ed25519
	GlobalKnownHostsFile ~/.config/os-x-backup/known_hosts
	UserKnownHostsFile ~/.config/os-x-backup/known_hosts

Host *
	CASignatureAlgorithms ssh-ed25519,rsa-sha2-512
	Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com
	KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512
	MACs umac-128-etm@openssh.com,hmac-sha2-512-etm@openssh.com
	HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,rsa-sha2-512-cert-v01@openssh.com,ssh-ed25519,rsa-sha2-512
	HostbasedKeyTypes ssh-ed25519-cert-v01@openssh.com,rsa-sha2-512-cert-v01@openssh.com,ssh-ed25519,rsa-sha2-512
	FingerprintHash sha256
	HashKnownHosts yes
	StrictHostKeyChecking yes
	UpdateHostKeys yes
	CheckHostIP no
	Compression no
	PreferredAuthentications publickey
	PubkeyAuthentication yes
	PasswordAuthentication no
	HostbasedAuthentication no
	KbdInteractiveAuthentication no
	BatchMode yes
	IdentitiesOnly no
	ClearAllForwardings yes
	ControlMaster no
	ForwardAgent no
	ForwardX11 no
	GatewayPorts no
	GSSAPIAuthentication no
	GSSAPIDelegateCredentials no
	IPQoS cs1
	LogLevel INFO
	SyslogFacility USER
	NoHostAuthenticationForLocalhost no
	NumberOfPasswordPrompts 3
	PermitLocalCommand no
	RekeyLimit default none
	StreamLocalBindMask 0177
	StreamLocalBindUnlink no
	Tunnel no
